$blue: #71A9F7;
$red: #FF6666;
$white: #ffffff;
$grey: #454851;

@mixin bg_img($url, $size, $position){
	background-image: url($url);
	background-size: $size;
	background-position: $position;
}

* {
	box-sizing: border-box;
}

body {
font-family: sans-serif;
-webkit-front-smoothing: antialiased;
}

h1, h2 {
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 2px;

}

  h3, h4, h5, h6 {
 	font-family: sans-serif;
	font-weight: 400;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.wrapper {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.banner {
	padding: 5em 0;
	.logo {
		float: left;
	}
	h1 {
		color: $blue;
		text-align: right;
		font-size: 5em;
		display: inline;
		float: right;
		margin: 0;
	}
}

.logo {
	background: $red;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	color: $white;
	font-size: 1.1em;
	font-family: sans-serif;
}

.row {
	width: 100%;
	margin-bottom: 2em;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.work {
	background: $grey;
	padding: 5em 0;
	.card {
		background: $white;
		border-radius: .35em;
		height: 450px;
		display: table;
		background-repeat: no-repeat;
	}
	.card_full {
		width: 100%;
	}
	.card_half {
		width: 48.5%;
		float: left;
	}
	.card_third {
		width: 75%;
		float: left;
	}
	.left {
		margin-right: 1.5%;
	}
	.right {
		margin-left: 1.5%;
	}
	.tall {
		height: 600px;
	}
	.card_1{
		@include bg_img('../../assets/images/card1.jpg', 80%, 200px 88px);
	}
	.card_2{
		@include bg_img('../../assets/images/card5.png', 101%, -62px 228px);
	}
	.card_3{
		@include bg_img('../../assets/images/card2.png', 80%, 177px 17px);
	}
	.card_4{
		@include bg_img('../../assets/images/card4.png', 60%, 400px 88px);
	}
	.card_inner {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		padding: 1.5em 12%;
		color: $white;
		p {
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 700;
		}
		h2 {
			font-size: 4em;
			margin: 0;
		}
	}
	.red, .blue, .yellow, .green {
			border-radius: .35em;
	}

	.red {
	background: rgba(255, 102, 102, .6);
	}
	.blue {
		background: rgba(113,169,247, .6);
	}
	.yellow {
		background: rgba(255, 166, 0, .6);
	}
	.green {
		background: rgba(35, 209, 96, .6);
	}
	.view_more {
		width: 25%;
		float: left;
		height: 400px;
		padding-left: 3.5em;
		p {
			font-size: 1.25em;
			font-weight: 700;
			line-height: 450px;
			margin: 0;
			color: #D2CEDD;
		}
		a {
			text-decoration: none;
			&:hover {
				p {
					color: $red;
				}
			}
		}
	}
}


footer {
	padding: 3em 0;
	.logo {
		float: left;
		margin: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding-top: 1em;
		li {
			display: inline;
			float: left;
			margin-left: 4em;
			.title {
				text-transform: uppercase;
				font-weight: 700;
				font-size: .75em;
				display: block;
				padding-bottom: .5em;
			}
			.links {
				font-size: 1.75em;
				a {
					color: $grey;
					text-decoration: none;
					padding-right: 20px;
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px){
	.banner {
	padding: 4em 2em;
	h1 {
		font-size: 3em;
	}
	}
		.work{
			padding-bottom: 0px;
			.card_1{
		@include bg_img('../../assets/images/card1.jpg', 86%, 134px 75px);
	}
		.card_2{
		@include bg_img('../../assets/images/card5.png', 100%, -30px 122px);
	}
		.card_3{
		@include bg_img('../../assets/images/card2.png', 80%, 127px 17px);
			}
		.card_4{
		@include bg_img('../../assets/images/card4.png', 60%, 275px 100px);
	}
	.row {
		padding: 0 2em;
		.card {
			height: 350px;
			p {
				font-size: .7em;
			}
			h2 {
				font-size: 3em;
			}
		}
	}
	.view_more {
		font-size: 0.75em;
		p {
			line-height: 340px;
		}
	}
		}
		footer {
			.wrapper {
				padding: 0 2em;
			}
		}
}

@media only screen and (max-width: 480px){
		.banner {
			padding: 2em 1em;
			h1 {
				font-size: 2em;
				}
			}
			.work {
				.card_1{
		@include bg_img('../../assets/images/card1.jpg', 122%, 32px 75px);
	}
		.card_2{
		@include bg_img('../../assets/images/card5.png', 75%, -17px 129px);
	}
		.card_3{
		@include bg_img('../../assets/images/card2.png', 70%, 161px 17px);
			}
		.card_4{
		@include bg_img('../../assets/images/card4.png', 67%, 121px 136px);
	}
				.row {
		padding: 0 2em;
		.card {
			height: 268px;
			p {
				font-size: .8em;
			}
			h2 {
				font-size: 1.5em;
			}
		}
	}
		.left {
			margin: 0px 2em;
			}
			.right {
			margin: 2em 2em 0 2em;
		}
			.card_half {
    			width: 79.5%;
		}
			.view_more {
				font-size: 0.35em;
			}
			
	}

	footer {
		padding: 1em 0;
		.logo {
	 width: 50px;
     height: 50px;
     font-size: 0.7em;
     line-height: 50px;
		}
		ul {
			padding-top: .6em;
			li { 
				margin-left: 2em;
				.title{
			   font-size: 0.45em;

				}
				.links {
			    font-size: 0.5em;
			}
		}

		
		}
	}
}

